:root {
    --lightblue: rgba(57,107, 181, 1);
    --red: rgba(214,31,89,1);
    --white: rgba(225,225,225,1);
    --darkblue: rgba(0,28,45,1);
}

body {
    display: block;
    background-color: rgba(0, 28, 45, 1);
    max-width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

body.content {width: 1439px;}

p, li, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
}

/* Header */
ul{
    list-style-type: none;
}
a:link {
    text-decoration: none;
}

a, li {
    color: rgba(225, 225, 225, 1);
    text-decoration: underline;
}
a:visited {
    color: rgba(225, 225, 225, 1);
}

.facebook > p , #lang {
    color: rgba(225, 225, 225, 1);
}

#lang {
    text-decoration: underline;
    cursor: pointer;
}

.facebook {
    display: flex;
    width: 12.221rem;
    align-items: center;
    gap: 0.609rem;
    margin-top: 0.2rem;
    padding-left: 0.45rem;
}

.navbar {
    display: none;
}
.navside {
    display: flex;
height: 8.813rem;
flex-direction: column;
align-items: flex-end;
gap: 1rem;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo > img {
    width: 8rem;
    height: 8rem;
}
.mode {
    background-color: rgba(225, 225, 225, 1);
    color: rgba(0, 28, 45, 1);
    text-align: center;
    font-weight: 400;
    border-radius: 0.25rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    margin-bottom: 0.1rem;
}

#navmobile {
    display: flex;
    padding-right: 0.641rem;
    justify-content: space-between;
    gap: 2rem;

}

#navbarmob > ul {
    display: flex;
    height: 3.125rem;
    padding: 0.625rem 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    flex-shrink: 0;
    border-top: 1px solid var(--Accent, #D61F59);
    border-bottom: 1px solid var(--Accent, #D61F59);
    margin-top: 4rem;
}

#navbarmob > ul > li {
    display: flex;
width: 10rem;
height: 1.875rem;
flex-direction: row;
justify-content: center;
flex-shrink: 0;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media screen and (max-width: 1025px) and (min-width: 431px) {
#navmobile {
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}
#navbarmob > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.5rem;
}

}
    


/* Footer */

#footer{
    display: flex;
    padding: 0.3125rem 0.625rem;
    justify-content: center;
    gap: 3.875rem;
    text-align: center;
    border-top: 1px solid var(--Accent, #D61F59);
    border-bottom: 1px solid var(--Accent, #D61F59);
    margin-top: 0.7rem;
}

#politique > h4 {
    color: var(--Accent, #D61F59);
}
#adresse > h4 {
    color: var(--Accent, #D61F59);
}

#adresse > a {
    font-family: Arial, Helvetica, sans-serif;
}

#politique > p {
    color: rgba(225, 225, 225, 1);
}
#adresse > p {
    color: rgba(225, 225, 225, 1)
}

#auteur {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

#auteur > p {
    color: rgba(225, 225, 225, 1)
}

/* principale; Main */
#promotion > img {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 0.3rem;
}

.img-prom {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}
.previous, .next {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0.4rem;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: var(--darkblue);
    -webkit-user-select: none;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: var(--white);
    color: black;
}

.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

/* barre de recherche */

#searchbar {
    display: block;
    margin: 0 auto;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

/* livres */

.boutique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0.5rem ;
    margin-right: 0.5rem;
    
}

@media screen and (max-width: 1025px) and (min-width: 431px) {
    .boutique {
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 2rem;
    }
}

@media screen and (min-width: 1025px) {
    .boutique {
        margin-left: 5rem;
        margin-right: 5rem;
        gap: 5rem;
        max-width: 1440px;
    }
}
.livres {
    width: 10rem;
    height: 18rem;
    flex-shrink: 0;
    margin-top: 1.2rem;
    margin-bottom: 8rem;
}

.titre {
    display: flex;
    padding: 1.38rem 0.96rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    background-color: var(--white);
    color: var(--darkblue);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 70%;
}

.img-livre {
    width: 100%;
    margin: auto;
}

.Infos > p {
    color: var(--white);
    font-weight: 600;
    font-size: 80%;
}

.Infos {
    display: flex ;
    justify-content: flex-start;
    align-items: center;
}

.disponibilité {
    margin-left: auto;
}

.btnReserver {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 80%;
    background-color: var(--lightblue);
    padding: 0.75rem;
    border-radius: 0 0 0.3rem 0.3rem;
}

/*réservation*/

#pageReservation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media screen and (max-width: 1025px) and (min-width: 431px){
    #pageReservation {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0rem 0.8rem 0rem 0.8rem;
        gap: 1.5rem;
    }
    
} 

@media screen and (min-width: 1025px) {
    #pageReservation {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0.8rem 3rem 0.8rem;
        gap: 1.5rem;
        
    }
    .reservation {
        transform: scale(120%);
    }

    .livres {
        transform: scale(120%);
    }

    .boutique {
        margin: 4rem 6rem 8rem 6rem;
        gap: 8rem;
    }
}

@media screen and (max-width: 1441px) {
    body {
        max-width: 1440px;
    }
}


.reservation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem ;
    margin-right: 0.5rem;
}
.btnSynopsis {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 80%;
    background-color: var(--lightblue);
    padding: 0.75rem;
    border-radius: 0 0 0.3rem 0.3rem;
    color: var(--white);
    cursor: pointer;
}

/*synopsis*/
#resume {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--Accent, #D61F59);
    border-top: 1px solid var(--Accent, #D61F59);
    margin-bottom: 2rem;
    color: var(--white);
}

/*formulaire réservation*/
#formulaire > input[type=text] {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
    box-sizing: border-box;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;;
}

#formulaire > label {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

#envoi {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lightblue);
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 125%;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    display: block;
    margin: 0 auto;

}

/* page confirmation */

#confirmation{
    color: var(--white);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
}

#confirmation > h2 {
    text-decoration: underline;
}




